body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius:8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    color: #f7ca37;
    margin-bottom: 20px;
    font-size: 28px;
    
}

.loader {
    color: teal;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
    background-color: #ffe0e0;
    padding: 8px;
    border-radius: 4px;
}