

.contactsList {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 460px;
}

.noMatches {
    color: #A0A0A0;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}


.listItem {
   
    background-color: #1E1E1E;
    color: #E0E0E0;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.listItem:hover {
    transform: scale(1.01);
    background-color: #2a2a2a;
}

.contInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contName {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.contName:hover {
    color: #FCD34D;
}

.contNum {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #2dd4bf;
}

.contNum:hover {
    color: #42e7d1;
    text-decoration: underline;
}



.btnDelete {
    background-color: #1e1e1e;
    color: #d63b3e;
    border: 1px solid #d63b3e;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.btnDelete:hover {
    background-color: #d63b3e;
    color: #121212;
    transform: scale(1.05);
}






.icon {
   
    margin-right: 8px;
}






